---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const experiencias = [
	{ title: 'Desarrollador Senior ( vaa que deedcia)', company: 'kiosco juanchi', date: '2023 - 2026', desc: 'algo que poner aca.' },
	{ title: 'Full Stack Dev( En algun momento)', company: 'Agencia Digital', date: '2021 - 2023', desc: 'Creación de sitios web.' },
	{ title: 'Estudiante de Programación( o algo asi)', company: 'Extension Aulica UTN', date: '2019 - 2021', desc: 'Estructuras de datos y desarrollo web.' },
];
---

<Layout title="Experiencia | Portafolio">
	<h1 class="text-4xl font-black mb-16 text-center text-slate-900 dark:text-white" transition:name="title">
		Experiencia Profesional
	</h1>
	
	<div class="relative border-l-2 border-slate-200 dark:border-slate-800 ml-8 space-y-12">
		{experiencias.map(exp => (
			<Card {...exp} />
		))}
	</div>
</Layout>