---
// SECCIÓN DE CONFIGURACIÓN (Frontmatter)
// 1. Importamos el diseño base y el componente de tarjeta reutilizable.
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

// 2. Definimos los datos: un array de objetos con tu historial.
// Esto facilita añadir o borrar experiencias en el futuro sin tocar el HTML de abajo.
const experiencias = [
    { 
        title: 'Estudiante de Programación', 
        company: 'Universidad Tecnologica Nacional de Rafaela', 
        date: '2023 - 2026', 
        desc: 'Actualmente cursando Tecnico Universitario en Programación.' 
    },
    { 
        title: 'Lenguajes aprendidos', 
        company: 'C,C#,JAVA,PYTHON', 
        date: '', 
        desc: 'Enfocado en la desarrollo y creacion Web.' 
    },
    { 
        title: 'Estudiante de Programación( o algo asi)', 
        company: 'Extension Aulica UTN', 
        date: '2019 - 2021', 
        desc: 'Estructuras de datos y desarrollo web.' 
    },
];
---

<Layout title="Experiencia | Portafolio">
    
    <h1 class="text-4xl font-black mb-16 text-center text-slate-900 dark:text-white" transition:name="title">
        Experiencia Profesional
    </h1>
    
    <div class="relative border-l-2 border-slate-200 dark:border-slate-800 ml-8 space-y-12">
        
        {experiencias.map(exp => (
            <Card {...exp} />
        ))}
    </div>
</Layout>